
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h1>Logo Nav by Start Bootstrap</h1>
        <p>This is where all sorts of cool information will be displayed</p>
    </div>
</div>
